#coreValue {
  width: 100%;
}

#coreValue .content {
  display: flex;
  justify-content: space-between;
}

#coreValue .content .main {
  width: 50%;
}

#coreValue .content .main h1 {
  /* EN/Heading 2 */
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  /* Gray 800 */
  color: #393c4e;
  max-width: 400px;
  margin: 16px 0;
}

#coreValue .content .main .titleDescription {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* Orange 800 */
  color: #f6712e;
}

#coreValue .content .main p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px 0;
}

#coreValue .content .list {
  display: flex;
  justify-content: space-between;
}

#coreValue .content .list .listRight {
  margin-top: 80px;
}

#coreValue .content .list .card {
  /* Gray 300 */
  background: #f7f7fb;
  border-radius: 12px;
  padding: 24px 24px 60px 24px;

  width: 240px;
  margin-bottom: 32px;
  margin-left: 32px;
}

#coreValue .content .list .card .icon {
  display: block;
  width: 64px;
  height: 64px;
}

#coreValue .content .list .card .title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* Gray 900 */
  color: #080b22;
  margin-top: 12px;
  display: block;
}

#coreValue .content .list .card .description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* Gray 900 */
  color: #080b22;
  opacity: 0.8;
}
