#coreValue {
  width: 100%;
  position: relative;
  padding-bottom: 70px;
  margin-bottom: 20px;
  color: white;
  background: #29292c;
}

#coreValue .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#coreValue .content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  margin-top: 64px;
}

#coreValue .content .main p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

#coreValue .detailContent {
  display: flex;
  justify-content: space-between;
}

#coreValue .detailContent .image {
  width: 400px;
  height: 407px;
}

#coreValue .content .list {
  margin-left: 40px;
  display: flex;
  gap: 40px;
}

#coreValue .content .list .card {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
}

#coreValue .content .list .text {
  padding-top: 6px;
  margin-left: 8px;
}

#coreValue .content .list .card .icon {
  display: block;
  width: 64px;
  height: 64px;
}

#coreValue .content .list .card .title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 12px;
  display: block;
}

#coreValue .content .list .card .description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
}
