/* Dark Mode */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  .navigation a,
  .i-drop-btn > span,
  #firstSection .content .title,
  #firstSection .content .subtitle,
  #coreValue .content .main h1,
  #coreValue .content .list .card .title,
  #coreValue .content .list .card .description,
  #roadmapSection .maintitle,
  #roadmapSection .card .title,
  #roadmapSection .card .content {
    color: #fff;
  }

  button.outline {
    background: #000;
  }

  .i-drop-btn .i-drop-pop,
  #coreValue .content .list .card,
  #roadmapSection .card,
  footer {
    background: #111;
  }

  .slick-prev,
  .slick-next {
    background-color: #222;
  }

  .dropListItem,
  .navigation .langs .l {
    border-color: #222;
  }

  .dropListItem a:hover {
    color: #f28d25;
    background-color: #222;
  }

  #threejs {
    opacity: 0.5;
  }

  #firstSection .content .title,
  #firstSection .content .subtitle {
    text-shadow: -1px -1px 3px black, 1px -1px 3px black, -1px 1px 3px black,
      1px 1px 3px black;
  }

  #firstSection .shadow {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
  }

  #roadmapSection .shadow.right,
  #roadmapSection .shadow.left {
    background: linear-gradient(
      90deg,
      #000 31.44%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
