#firstSection {
  width: 100%;
  height: 75vh;
  position: relative;
  overflow: hidden;
}

#firstSection .logo {
  width: 88px;
  height: 88px;
}

#firstSection .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 180px 0 0 0;
}

#firstSection .content .title {
  font-family: Styrene A web;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  /* Gray 900 */
  color: #080b22;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 4px;
}

#firstSection .content .subtitle {
  font-family: Styrene A web;
  /* EN/Heading 4 */
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* identical to box height, or 160% */
  text-align: center;
  /* Orange 800 */
  color: #f6712e;
  word-spacing: 16px;
}

#firstSection .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

#firstSection .buttons button {
  margin: 12px;
  width: 240px;
}

#lottie {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  transform-origin: center;
}

#firstSection .shadow {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

@media (min-width: 868px) {
  #firstSection .logo {
    width: 160px;
    height: 160px;
  }

  #firstSection .content .title {
    font-size: 48px;
  }

  #firstSection .content {
    padding: 0;
  }

  #firstSection .content .subtitle {
    font-size: 24px;
  }

  #lottie {
    transform: scale(1.5);
  }

  #firstSection .buttons {
    margin-top: 24px;
    flex-direction: row;
  }

  #firstSection .buttons button {
    width: 180px;
  }
}
