#firstSection {
  width: 100%;
  height: 720px;
  position: relative;
  overflow: hidden;
  background-image: url('/images/firstSection/headLineBody.png'),
    url('/images/firstSection/headLineCorner.png');
  background-repeat: no-repeat;
  background-position: center bottom, top right;
  background-size: 100% auto, 620px auto;
}

#firstSection .topShadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 164px;
  background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #ffffff 86.98%);
}

#firstSection .logo {
  width: 420px;
  height: 300px;
  margin-right: 100px;
}

#firstSection .container {
  height: 100%;
}

#firstSection .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#firstSection .leftContent {
  max-width: 550px;
}

#firstSection .content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #080b22;
  margin: 0;
}

#firstSection .content h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #080b22;
  margin: 0;
}

#firstSection .content .subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #6b6d7a;
}

#firstSection .buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}

#firstSection .buttons button {
  width: 220px;
  margin-right: 24px;
  box-shadow: 6px 6px 30px 2px rgba(255, 85, 0, 0.2);
  transition: all 0.3s ease;
}

#firstSection .learnMoreButton {
  border-color: transparent;
  background-color: transparent;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ff5c00;
}

#firstSection button:hover {
  box-shadow: 6px 6px 30px 8px rgba(255, 85, 0, 0.2);
}
