#firstSection {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#firstSection .logo {
  width: 124px;
  height: 124px;
}

#firstSection .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#firstSection .content .title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  /* Gray 900 */
  color: #080b22;
}

#firstSection .content .subtitle {
  /* EN/Heading 4 */
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  /* identical to box height, or 160% */
  text-align: center;
  /* Orange 800 */
  color: #f6712e;
  word-spacing: 16px;
}

#firstSection .buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstSection .buttons button {
  margin: 12px;
  width: 170px;
}

#lottie {
  width: 100%;
  height: 100%;
  transform: scale(1.16);
  transform-origin: center;
}

#firstSection .shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
