@media (max-width: 640px) {
  #firstSection {
    /* todo */
    /* background-image: url('/images/firstSection/heroBgMobile.jpg'); */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  #firstSection .content {
    width: 100%;
  }

  #firstSection .content .subtitle {
    background: transparent;
  }
}

@media (min-width: 868px) {
  #firstSection {
    height: 80vh;
    min-height: 860px;
  }

  #firstSection .logo {
    width: 420px;
    height: 300px;
  }

  #firstSection .content .title {
    font-size: 48px;
  }

  #firstSection .content {
    flex-direction: row-reverse;
  }

  #lottie {
    transform: scale(1.5);
  }

  #firstSection .buttons {
    flex-direction: row;
  }

  #firstSection .buttons button {
    width: 160px;
    padding-left: 0;
    padding-right: 0;
  }
}
