#firstSection {
  width: 100%;
  height: 720px;
  position: relative;
  overflow: hidden;
}

#firstSection .logo {
  width: 88px;
  height: 88px;
}

#firstSection .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 180px 0 80px 0;
}

#firstSection .content .title {
  font-family: 'Styrene A Web', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  /* Gray 900 */
  color: #080b22;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 4px;
}

#firstSection .content .subtitle {
  font-size: 16px;
  text-align: center;
  padding: 8px 20px;
  max-width: 720px;
  /* Gray 800 */
  color: #393c4e;
  background: #fff;
}

#firstSection .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

#firstSection .buttons button {
  margin: 12px;
  width: 240px;
}

#lottie {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  transform-origin: center;
}

#firstSection .shadow {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

@media (min-width: 868px) {
  #firstSection {
    height: 80vh;
    min-height: 860px;
  }

  #firstSection .logo {
    width: 160px;
    height: 160px;
  }

  #firstSection .content .title {
    font-size: 48px;
  }

  #firstSection .content {
    padding: 0;
  }

  #lottie {
    transform: scale(1.5);
  }

  #firstSection .buttons {
    flex-direction: row;
  }

  #firstSection .buttons button {
    width: 180px;
  }
}
