footer {
  width: 100%;
  padding: 40px 0;
  /* Gray 300 */
  background: #f7f7fb;
}

footer .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

footer .text {
  font-size: 13px;
  line-height: 20px;
  display: block;
  /* Gray 600 */
  color: #9c9da7;
}

footer .logos img {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 24px;
  height: 64px;
  width: auto;
}

@media (min-width: 1124px) {
  footer .content {
    flex-direction: row;
    align-items: center;
  }

  footer .text {
    max-width: 600px;
  }
}
