#roadmapSection .maintitle {
  font-family: Styrene A web;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  /* Gray 900 */
  color: #080b22;
}

#roadmapSection .card {
  width: 220px;
  height: 260px;
  margin: 12px;
  background: #f7f7fb;
  border-radius: 12px;
  padding: 20px;
  position: relative;
}

#roadmapSection .card .version {
  /* EN/Subtitle 1 */
  font-family: Styrene A web;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* Orange 2 */
  color: #f6712e;
}

#roadmapSection .card .title {
  font-family: Styrene A web;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* Gray 900 */
  color: #080b22;
}

#roadmapSection .card .content {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* Gray 800 */
  color: #393c4e;
}

#roadmapSection .card .year {
  font-size: 20px;
  line-height: 24px;
  /* Orange 2 */
  color: #f6712e;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
