#roadmapSection .container {
  position: relative;
}

#roadmapSection .maintitle {
  font-family: Styrene A web;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  /* Gray 900 */
  color: #080b22;
}

#roadmapSection .cardItem {
  width: 220px;
  margin: 12px;
  padding-bottom: 100px;
  position: relative;
}

#roadmapSection .cardItem .point {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /* Orange 2 */
  background: #f6712e;
  position: absolute;
  left: 50%;
  margin-top: 35px;
  margin-left: -9px;
}

#roadmapSection .cardItem.inactive .point {
  background: #e7e7f3;
}

#roadmapSection .cardItem.inactive .point::before {
  background-color: transparent;
  background-image: url('/images/roadmap/line.svg');
}

#roadmapSection .cardItem .point::before {
  /* Orange 2 */
  height: 2px;
  background-color: #f6712e;
  content: ' ';
  position: absolute;
  right: 28px;
  top: 8px;
  width: 206px;
}

#roadmapSection .card {
  width: 220px;
  height: 260px;
  background: #f7f7fb;
  border-radius: 12px;
  padding: 20px;
  position: relative;
}

#roadmapSection .card.inactive .version,
#roadmapSection .card.inactive .title,
#roadmapSection .card.inactive .year,
#roadmapSection .card.inactive .content {
  /* Gray 700 */
  color: #6b6d7a !important;
}

#roadmapSection .card .version {
  /* EN/Subtitle 1 */
  font-family: Styrene A web;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* Orange 2 */
  color: #f6712e;
}

#roadmapSection .card .title {
  font-family: Styrene A web;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* Gray 900 */
  color: #080b22;
}

#roadmapSection .card .content {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* Gray 800 */
  color: #393c4e;
}

#roadmapSection .card .year {
  font-size: 20px;
  line-height: 24px;
  /* Orange 2 */
  color: #f6712e;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#roadmapSection .card .flag {
  width: 23px;
  height: 25px;
  background-image: url('/images/roadmap/flag.svg');
  position: absolute;
  right: 20px;
  top: 20px;
}

#roadmapSection .shadow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 88px;
  background: linear-gradient(
    90deg,
    #ffffff 31.44%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
